.navBar{
    background-color: #347B98;
    align-content: center;

}

.brand {
    margin-left:20px;

}
a {
    text-decoration: none;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
}

a:hover{
    color: #00aef3;
}